@{
    ViewData["Title"] = "Application Submitted";
}
@* Bringing in models *@
@model Mission6.Models.TrackerEntry
@* message after people add movie *@
<h2>Thank you for contributing to my collection!</h2>